footer{
    padding-bottom: var(--medium);
    display: flex;
    justify-content: center;
    gap: 50px;
}

footer a{
    font-size: 2rem;
    
}

.icon:hover{
    cursor: pointer;
}

.icon:hover + .iconText{
   visibility: visible;
   opacity: 1;
}

.iconText{
    display: block;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}